<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ProductManageModel</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AddFirstCategoryServlet</display-name>
    <servlet-name>AddFirstCategoryServlet</servlet-name>
    <servlet-class>com.neuedu.controller.firstCategory.AddFirstCategoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddFirstCategoryServlet</servlet-name>
    <url-pattern>/addFirstCategoryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchFirstCategoryServlet</display-name>
    <servlet-name>SearchFirstCategoryServlet</servlet-name>
    <servlet-class>com.neuedu.controller.firstCategory.SearchFirstCategoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchFirstCategoryServlet</servlet-name>
    <url-pattern>/searchFirstCategoryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditFirstCategoryServlet</display-name>
    <servlet-name>EditFirstCategoryServlet</servlet-name>
    <servlet-class>com.neuedu.controller.firstCategory.EditFirstCategoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditFirstCategoryServlet</servlet-name>
    <url-pattern>/editFirstCategoryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteFirstCategoryServlet</display-name>
    <servlet-name>DeleteFirstCategoryServlet</servlet-name>
    <servlet-class>com.neuedu.controller.firstCategory.DeleteFirstCategoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteFirstCategoryServlet</servlet-name>
    <url-pattern>/deleteFirstCategoryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddSecondCategoryServlet</display-name>
    <servlet-name>AddSecondCategoryServlet</servlet-name>
    <servlet-class>com.neuedu.controller.secondCategory.AddSecondCategoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddSecondCategoryServlet</servlet-name>
    <url-pattern>/addSecondCategoryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchSecondCategoryServlet</display-name>
    <servlet-name>SearchSecondCategoryServlet</servlet-name>
    <servlet-class>com.neuedu.controller.secondCategory.SearchSecondCategoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchSecondCategoryServlet</servlet-name>
    <url-pattern>/searchSecondCategoryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteSecondCategoryServlet</display-name>
    <servlet-name>DeleteSecondCategoryServlet</servlet-name>
    <servlet-class>com.neuedu.controller.secondCategory.DeleteSecondCategoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteSecondCategoryServlet</servlet-name>
    <url-pattern>/deleteSecondCategoryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditSecondCategoryServlet</display-name>
    <servlet-name>EditSecondCategoryServlet</servlet-name>
    <servlet-class>com.neuedu.controller.secondCategory.EditSecondCategoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditSecondCategoryServlet</servlet-name>
    <url-pattern>/editSecondCategoryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddProductServlet</display-name>
    <servlet-name>AddProductServlet</servlet-name>
    <servlet-class>com.neuedu.controller.product.AddProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddProductServlet</servlet-name>
    <url-pattern>/addProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchFcProductServlet</display-name>
    <servlet-name>SearchFcProductServlet</servlet-name>
    <servlet-class>com.neuedu.controller.product.SearchFcProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchFcProductServlet</servlet-name>
    <url-pattern>/searchFcProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductInfoServlet</display-name>
    <servlet-name>ProductInfoServlet</servlet-name>
    <servlet-class>com.neuedu.controller.product.ProductInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductInfoServlet</servlet-name>
    <url-pattern>/productInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchScProductServlet</display-name>
    <servlet-name>SearchScProductServlet</servlet-name>
    <servlet-class>com.neuedu.controller.product.SearchScProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchScProductServlet</servlet-name>
    <url-pattern>/searchScProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchProductServlet</display-name>
    <servlet-name>SearchProductServlet</servlet-name>
    <servlet-class>com.neuedu.controller.product.SearchProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchProductServlet</servlet-name>
    <url-pattern>/searchProductServlet</url-pattern>
  </servlet-mapping>
</web-app>